<script>
    $(document).ready(()=>{
        $('#confirm').click(()=>{
            var needPassword=<%= detail.p?"true":"false" %>;
            if(needPassword)location.href=`/get/<%= code %>/<%= detail.downname %>?p=${btoa($('#password').val())}`;
            else location.pathname=`/get/<%= code %>/<%= detail.downname %>`;
        });
    });
</script>

<style>
    input{
        width: 200px !important;
    }
</style>

<p><strong>文件信息</strong></p>
<p>收件码：<%= code %></p>
<p>文件名：<%= detail.n %></p>
<p>剩余下载次数：<%= detail.t %></p>
<p>上传者 Ip：<%= detail.ip %></p>
<p>上传时间：<%= detail.u %></p>
<p>失效时间：<%= detail.d %></p>
<p>备注：<%= detail.nt %></p>
<% if(detail.p){ %>
    <p>
        请输入密码：
        <input id="password" type="password">
    </p>
<% }else{ %>
    <p>本文件不需要密码</p>
<% } %>
<p>
    <button id="confirm" class="topan-button-emphasize topan-button-default">确认下载</button>
</p>