<script>
    $(document).ready(()=>{
        $('#sendfile').click(()=>location.pathname="/send");
        $('#getfile').click(()=>location.pathname="/get");
        $('#filelist').click(()=>location.pathname="/list");
    });
</script>

<p>
    <button id="sendfile" class="topan-button-emphasize topan-button-default">发送文件</button>
    &nbsp;
    <button id="getfile" class="topan-button-emphasize topan-button-default">接收文件</button>
    &nbsp;
    <button id="filelist" class="topan-button-emphasize topan-button-default">我的文件</button>
</p>